<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879820098286-nom1urm7rmjv4lopbckj0misk5pa0i59.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879820098286-nom1urm7rmjv4lopbckj0misk5pa0i59</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>879820098286-6hfsh59lifspljpcvcuhgdor8itrq7qb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC2uGaWPI-MiCCx1EOMXVo3C_jFy0qIkoc</string>
	<key>GCM_SENDER_ID</key>
	<string>879820098286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smjle.fineMobile</string>
	<key>PROJECT_ID</key>
	<string>fine-mobile-21acd</string>
	<key>STORAGE_BUCKET</key>
	<string>fine-mobile-21acd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879820098286:ios:437f509dc66e71f8e381ff</string>
</dict>
</plist>