<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879820098286-up9hor49v5ap1bd3qj8c2s8u7dpp5e3f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879820098286-up9hor49v5ap1bd3qj8c2s8u7dpp5e3f</string>
	<key>API_KEY</key>
	<string>AIzaSyC2uGaWPI-MiCCx1EOMXVo3C_jFy0qIkoc</string>
	<key>GCM_SENDER_ID</key>
	<string>879820098286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fine</string>
	<key>PROJECT_ID</key>
	<string>fine-mobile-21acd</string>
	<key>STORAGE_BUCKET</key>
	<string>fine-mobile-21acd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879820098286:ios:3586d967cc7c0746e381ff</string>
</dict>
</plist>